// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// sass
@import 'modals';
@import "utitities";
@import "boards";
@import "board";
@import "columns";
@import "column";
@import "card";

body, html, #app, .app, .page {
  height: 100%;
}

.app {
  padding-top: $nav-link-height + $nav-link-padding-y * 2;
}

.nmc-circle {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: white;
  line-height: 22px;
  text-align: center;
}

.banner {
  padding-top: $nav-link-height;
  position: relative;

  .banner-progress {
    // background-image: url('/img/progress.png');
    // // height: 750px;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center center;
    // opacity: 0.6;
    padding: 0 $nav-link-height;

    video {
      width: 100%;
      height: auto;
    }
  }

  .home-register {
    position: absolute;
    top: 80%;
    height: 12em;
    width: 100%;
    text-align: center;

    button {
      width: 10em;
    }
  }
}
