// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// sass
@import 'modals';
@import "utitities";
@import "boards";
@import "board";
@import "columns";
@import "column";
@import "card";

body, html, #app, .app, .page {
  height: 100%;
}

.app {
  padding-top: $nav-link-height + $nav-link-padding-y * 2;
}

.nmc-circle {
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: white;
  line-height: 22px;
  text-align: center;
}

.banner {
  padding-top: 0.5rem;
  position: relative;
  min-height: 100%;
  background-color: #6cb2eb;

  .banner-progress {
    max-width: 1440px;
    padding: 0 1rem;
    margin: 0 auto 0 0;

    video {
      width: 100%;
      height: auto;
    }
  }

  .home-register {
    position: absolute;
    top: 80%;
    height: 12em;
    width: 100%;
    text-align: center;

    button {
      width: 10em;
    }
  }
}

@media (min-width: 768px) {

  .banner {
    // padding-top: 1.5rem;

    .banner-progress {
      padding-left: 1.5rem;
    }
  }
}
